{% extends "base.html" %}
{% block title %}
Result
{% endblock %}
{% block content %}
<div class="about">
    <div class="container">
    {% load static %}
    <small class="text-muted">I've learned the concept in this course,</small><br>
    <small class="text-muted">with Zach, Rob, Victoria, Katherine, Alex, Lena, Salome, Gabbi, Arshi, Barsha, Angel, Luvv, Kanishk, Kush, San, Soy, Ria, Alisha, Joao, Angelo, Willhelm, Dan, Redha, Juan, Nicole, Jocelyne, Vlado, Waldron, Lance, Jyotsna, Olena, Benjamin, Ana, Catherine, Ian, Celine, Lucy, Duc, Pradeepan, Rangesh, Ahmad, Margaret, Seiah, and Francisco.</small>
    <hr>
    <a href="https://www.summer.harvard.edu/courses/judgment-decision-making/32747"><img src="{% static 'imgs/HSS.png' %}" / ><img src="{% static 'imgs/mgmts5800.jpg' %}" / ></a>
    <h6>MGMT S-5800 Judgment and Decision Making</h6>
    <hr>
    <small class="text-muted">The model is on this book, Chapter 1, pp.2-3.</small>
    <a href="https://www.amazon.com/Judgment-Managerial-Decision-Making-8th-ebook/dp/B00AOAK26S/ref=mt_kindle?_encoding=UTF8&me=&qid="><img src="{% static 'imgs/textbookcover.png' %}" / ></a>
    <h6>Judgment in Managerial Decision Making, 8th Edition</h6>
    <h6>Max H. Bazerman & Don A. Moore</h6>
    </div>
</div>
{% endblock %}