{% extends "base.html" %}
{% block title %}
Step 2: Identify Decision Criteria
{% endblock %}
{% block content %}

<div class="form-group">

    <div class="progress">
      <div class="progress-bar bg-dark" style="width: 40%" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <br>



    <h2>"{{ topic }}"</h2>
    <hr>
    <h5>Identify Decision Criteria.</h5>
    <small class="text-muted">What are the criteria to be consider?</small>
    <br>
    <small class="text-muted">e.g. What to eat dinner?:</small>
    <hr>
    <form action="{% url 'step3' user %}" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">1</span>
            </div>
            <input name="cr1" type="text" class="form-control" placeholder="Price" required>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">2</span>
            </div>
            <input name="cr2" type="text" class="form-control" placeholder="How far from here" required>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">3</span>
            </div>
            <input name="cr3" type="text" class="form-control" placeholder="Quality" required>
        </div>
    <hr>
    <input class="btn btn-secondary btn-sm" type="submit" value="Next">
    </form>
</div>

{% endblock %}